:root{
    --police : #111;
    --oddrows : #CCC;
    --evenrows : #FEFEFE;
    --topcardpart: #0BB;
}

*{
    margin:0;
    padding:0;
}

.consigne{
    margin: 10px;
    font-size: 1.5em; 
    padding: 5px;
    border-radius: 5px;
}
.buttonholder{
    margin-left: 10px;
}
.mybutton{
    min-width: 50px;
    margin: 10px;
    font-size: 1em; 
    padding: 5px;
    border-radius: 5px;
}

.tableofcards{    
   /*border: 2px solid var(--police);*/
   border-collapse: collapse;
   table-layout: fixed;
   text-align: center;
   margin-left: 20px;
}

.tableofcards th{
    border: 1px solid var(--police);
}
.tableofcards tr:nth-child(odd) {
    background:var(--oddrows);
}

.buttonholder{
    margin-bottom: 30px;
}
.topcards{
    display: flex;
    flex-flow: row wrap; 
}
.label{
    font-family: cursive;
    text-align: center;     
    font-size: 2em;
}


/*Card part*/
.card{
    display:grid;
    height:350px;
    grid-template-areas: "up" "mid" "down";
    grid-template-rows: 1fr 200px 1fr;
    width:380px;
    background-color: var(--oddrows);
    font-weight: bold;
    color:var(--evenrows);
    font-family: cursive;
    margin: 10px;   
    border-radius: 15px;
}
.card p {
    display : inline-block;
}
.uppercardpart{
    grid-area: up;
    background-color: var(--topcardpart);
    display: grid;
    grid-template-areas: "lvl infos";
    grid-template-columns: 1fr 4fr;
    border-radius: 15px;
    
}
.level{
    grid-area: lvl;
    font-size: 4em;
    font-weight: bold;
}
.charinfo{
    grid-area:infos;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.charname{
    font-size: 3em;
    font-weight: bold;
}
.bottomcardpart{
    grid-area: mid;
    display:flex;
    flex-direction: row;
}
.bottomcardpart img{
    height:200px;
    object-fit: cover;
}
.cardstats{
    padding:10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4em;
}
.emptycardspace{
    grid-area: down;
}




/*End card part*/